  <%- include header %>

  <!-- <h1>sd <%= session %></h1> -->

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
   <li><a href="#!">Usulkan</a></li>
  </ul>
  <div class="container">
    <div class="row">
      <div class="col s4 m4 l4 xl4">
        <div style="margin-top:30px"> <h5 class="center-align">Aplikasi Chat</h5> </div>
        <div class="row chat-page">
          <div class="col s12">
            <ul id="chat-page-history" class="chat-page-history"> </ul>
          </div>
          <div class="col s12 chat-page-typing-and-sending" style="margin-bottom:-20px">
            <form id="chat-form" method="post">
              <div class="row">
                <div class="col s1 m1 l1 xl1"></div>
                <div class="col s9 m9 l9 xl9 input-field">
                  <i class="material-icons prefix">textsms</i>
                  <input class="form-control input-send-message" name="pengirim_pesan_chat_pengguna" id="pengirim_pesan_chat_pengguna" type="hidden" value="<%=session%>">
                  <input type="text" class="chat-typing browser-default" name="isi_pesan_chat_pengguna" placeholder="Tanya sesuatu?">
                  <input type="hidden" name="isi_pesan_chat_pengguna_choose" class="chat-typing-choose">
                </div>
                <div class="col s2 m2 l2 xl2">
                  <a class="btn-floating btn-medium waves-effect waves-light chat-sending"><i class="small material-icons right">send</i></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col s4 m4 l4 xl4">
        <div style="margin-top:30px"> <h5 class="center-align">Proses Kalimat</h5> </div>
        <div class="row chat-page">
          <div class="col s12">
            <ul id="process-kalimat-page-history" class="chat-page-history"></ul>
          </div>
          <div class="col s12 chat-page-typing-and-sending" style="margin-bottom:-20px">
            <div class="center-align">
              <a class="btn-floating btn-medium waves-effect waves-light chat-sending" disabled><i class="small material-icons right">refresh</i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s4 m4 l4 xl4">
        <div style="margin-top:30px"> <h5 class="center-align">Proses Nama</h5> </div>
        <div class="row chat-page">
          <div class="col s12">
            <ul id="process-nama-page-history" class="chat-page-history"></ul>
          </div>
          <div class="col s12 chat-page-typing-and-sending" style="margin-bottom:-20px">
            <div class="center-align">
              <a class="btn-floating btn-medium waves-effect waves-light chat-sending" disabled><i class="small material-icons right">refresh</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <!-- Saran pertanyaan ke sistem -->
  <div id="modal1" class="modal">
    <form id="suggest-kosa-kata-form" method="post">
      <div class="modal-content">
        <div class="container">
          <center>
            <h4>Sarankan Kata Kunci</h4>
            <p>Segala saran yang kamu berikan akan membantu kami dalam meningkatkan pelayanan pertanyaan.</p>
            <input id="suggest-kosa-kata" name="suggest_kosa_kata" placeholder="Masukan saran pertanyaan.." type="text" class="validate" style="margin-top:10px;">
            <input type="hidden" name="suggest_nomor_induk" value="<%=session%>">
          </center>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" id="button-submit-suggest" class="modal-close waves-effect waves-green green lighten-5 btn-flat"><i class="material-icons right" style="color:#262626">insert_emoticon</i>Sarankan</a>
        <a href="#!" class="modal-close waves-effect waves-red red lighten-5 btn-flat">Tutup</a>
      </div>
    </form>
  </div>

  <% include footer %>
  <script>
    $(document).ready(function () {
      // Chat
      $('#chat-page-history').append('<img class="load-chat" src="/third-party/_images/chat-load1.gif">');
      setTimeout(function () {
        $('.load-chat').hide()
        $('#chat-page-history').append('<li class="sender"><p class="chat-sender">Hallo, aku adalah <b>MANDAYA BOT</b>. Ada yang bisa aku bantu mengenai informasi seputar sekolah?</p></li>');
      },1000);

      // chat-sending clicked //
      $(document).keypress( function (e) {
        if(e.which == 13) {
          e.preventDefault();
          submit();
        }
      });
      $('.chat-sending').click( function (event) {
        event.preventDefault();
        submit();
      }); // ./chat-sending clicked

      function submit(){
        let message = $(".chat-typing").val();
        if(message.trim() == ''){ return false; }
        // XSS Attack
        else if ( message.match(/<[(\w+)(\s+(\w+)\s*\=\s*(\'|")(.*?)\\4\s*)*\s*(\/>|>)]+/gi) ) {
          $('#chat-page-history').append('<li class="sender"><p class="chat-sender">Maaf, pertanyaan anda tidak bisa kami layani.</p></li>');
          $("#chat-page-history").animate({scrollTop: $('#chat-page-history').get(0).scrollHeight}, 1000);
          $('.chat-typing').val(null);
          return false;
        }
        // ./ XSS attack
        else{
          $.ajax({
             type: "POST",
             url: "/dashboard/chat_user_app",
             data: $("#chat-form").serialize(), // serializes the form's elements.
             success: function (response) {
               let personalChatMessage = $('#chat-page-history');
               var r = response.split("|");

               let session = "<%=session%>";
               if (response.length === 0){
                  personalChatMessage.append('\
                  <li id="message-1" class="sender">\
                  <p class="chat-sender">Halo dari MANDAYA BOT, Ada yang bisa kami bantu?</br></p>\
                  </li>');
               }
               else{
                  processChat (message, r)
                  $('.chat-sending').addClass('disabled'); //ketika sedang proses chat, tombol send akan disabled
                  var itemCount = ($("[id^='message-']").length + 1);
                  $('#chat-page-history').append('<li id="message-'+itemCount+'" class="receiver"><p class="chat-receiver"><i id="'+message+'" class="large material-icons modal-trigger" href="#modal1" style="color:#b7d0a5;font-size:17px;float:right">announcement</i><br><a style="color:#262626">' + message + '</a></p></li>');
                  $('#chat-page-history').append('<img class="load-chat" src="/third-party/_images/chat-load1.gif">');
                  $("#chat-page-history").animate({scrollTop: $('#chat-page-history').get(0).scrollHeight}, 1000);
                  setTimeout(function () {
                    $('.chat-sending').removeClass('disabled');
                    $('.load-chat').hide();
                    if (r[2] == "success") {
                      if (r[3] == "1_parameter") {
                        $('#chat-page-history').append('<li class="sender"><p class="chat-sender">' + r[0] + '</p></li>');
                        $('.chat-typing').val('');
                        $('input[name*="isi_pesan_chat_pengguna_choose"]').val('');

                      }
                      else if (r[3] == "2_parameters") { //suggest
                        $('#chat-page-history').append('<li class="sender"><p class="chat-sender">'+r[0]+'</p></li>');
                        $('#chat-page-history').append('<li class="sender"><p class="chat-sender">'+r[1]+'</p></li>');
                        $('.chat-typing').val('');
                        $('input[name*="isi_pesan_chat_pengguna_choose"]').val('');

                      }
                      else if (r[3] == "duplicate_name") {
                        $('#chat-page-history').append('<li class="sender"><p class="chat-sender">' + r[0] + '</p></li>');
                        $('#chat-page-history').append('<li class="sender"><p class="chat-sender">' + r[1] + '</p></li>');
                        var sek = r[5]+'>';
                        $('input[name*="isi_pesan_chat_pengguna_choose"]').val(sek);
                        $('.chat-typing').val('');
                      }
                    }
                    else if (r[2] == "error") {
                      if (r[3] == "1_parameter") {
                        $('#chat-page-history').append('<li class="sender"><p class="chat-sender">' + r[0] + '</p></li>');
                        $('.chat-typing').val('');
                        $('input[name*="isi_pesan_chat_pengguna_choose"]').val('');

                      }
                      else if (r[3] == "2_parameters") { // suggest
                        $('#chat-page-history').append('<li class="sender"><p class="chat-sender">' + r[0] + '</p></li>');
                        $('#chat-page-history').append('<li class="sender"><p class="chat-sender">' + r[1] + '</p></li>');
                        $('.chat-typing').val('');
                      }
                      else if (r[3] == "1_parameter_no_clear") {
                        $('#chat-page-history').append('<li class="sender"><p class="chat-sender">' + r[0] + '</p></li>');
                        $('input[name*="isi_pesan_chat_pengguna_choose"]').val('');
                      }
                    }
                    $("#chat-page-history").animate({scrollTop: $('#chat-page-history').get(0).scrollHeight}, 1000);
                  },1000);
               }
             }
           });
        }
      }

      function processChat (message, r) {
        $("#process-kalimat-page-history").empty()
        $("#process-nama-page-history").empty()

        $("#process-kalimat-page-history").animate({
          scrollTop: $("#process-kalimat-page-history").position().top
        });
        $("#process-nama-page-history").animate({
          scrollTop: $("#process-nama-page-history").position().top
        });

        // process kalimat (found)
        var new_process_kalimat = [];
        var { pesan : pesan, stem: stem, json: json, tempArray: tempArray, tempMatchPerKata: tempMatchPerKata, tempArrayd: tempArrayd, fix: fix, totalMatch: totalMatch, max_match_kata: max_match_kata, fix2: fix2, allKalimat: allKalimat, lowestSplit: lowestSplit, fix3: fix3, qwe: qwe } = JSON.parse(r[4])[0].process_kalimat;

        new_process_kalimat.push(`pesan : <br><br><b>${JSON.stringify(pesan)}</b>`);
        new_process_kalimat.push(`stem : <br><br><b>${JSON.stringify(stem)}</b>`);
        new_process_kalimat.push(`json : <br><br><b>${JSON.stringify(json)}</b>`);
        new_process_kalimat.push(`tempArray : <br><br><b>${JSON.stringify(tempArray)}</b>`);
        new_process_kalimat.push(`tempMatchPerKata : <br><br><b>${JSON.stringify(tempMatchPerKata)}</b>`);
        new_process_kalimat.push(`tempArrayd : <br><br><b>${JSON.stringify(tempArrayd)}</b>`);
        new_process_kalimat.push(`fix : <br><br><b>${JSON.stringify(fix)}</b>`);
        new_process_kalimat.push(`totalMatch : <br><br><b>${JSON.stringify(totalMatch)}</b>`);
        new_process_kalimat.push(`max_match_kata : <br><br><b>${JSON.stringify(max_match_kata)}</b>`);
        new_process_kalimat.push(`fix2 : <br><br><b>${JSON.stringify(fix2)}</b>`);
        new_process_kalimat.push(`allKalimat : <br><br><b>${JSON.stringify(allKalimat)}</b>`);
        new_process_kalimat.push(`lowestSplit : <br><br><b>${JSON.stringify(lowestSplit)}</b>`);
        new_process_kalimat.push(`fix3 : <br><br><b>${JSON.stringify(fix3)}</b>`);
        new_process_kalimat.push(`Ketemu : <br><br><b>${JSON.stringify(qwe)}</b>`);

        for (var i = 0; i < new_process_kalimat.length; i++) {
          var no = i+1
          if (no == 1) {
            $('#process-kalimat-page-history').append(`<li class="sender"><p class="chat-sender"><a class='code label label-success'><b style='color:black'>${no}.</b></a>  ${new_process_kalimat[i]}</p></li>`);
          }
          else {
            $('#process-kalimat-page-history').append(`<li class="sender"><p class="chat-sender"><a class='code label label-warning'><b style='color:black'>${no}.</b></a>  ${new_process_kalimat[i]}</p></li>`);
          }
        }


        // deteksi nama (not found)
        var new_process_nama = []
        var { pesan: pesan, parse2: parse2, splice: splice, splice_nama_sampai_ketemu: splice_nama_sampai_ketemu } = JSON.parse(r[4])[1].process_nama;
        console.log(JSON.parse(r[4])[1].process_nama);
        new_process_nama.push(`pesan : <br><br><b>${JSON.stringify(pesan)}</b>`);
        new_process_nama.push(`parse2 : <br><br><b>${JSON.stringify(parse2)}</b>`);
        new_process_nama.push(`splice : <br><br><b>${JSON.stringify(splice)}</b>`);
        new_process_nama.push(`splice_nama_sampai_ketemu : <br><br><b>${JSON.stringify(splice_nama_sampai_ketemu)}</b>`);
        for (var i = 0; i < new_process_nama.length; i++) {
          var no = i+1
          if (no == 1) {
            $('#process-nama-page-history').append(`<li class="sender"><p class="chat-sender"><a class='code label label-success'><b style='color:black'>${no}.</b></a>  ${new_process_nama[i]}</p></li>`);
          }
          else {
            $('#process-nama-page-history').append(`<li class="sender"><p class="chat-sender"><a class='code label label-warning'><b style='color:black'>${no}.</b></a>  ${new_process_nama[i]}</p></li>`);
          }
        }
      }

      // // Function // //
      // Submit suggest kosa kata
      $(document).on('click', '.modal-trigger', function (){
        suggest = $(this).attr('id')
        $('#suggest-kosa-kata').val(suggest)
      })
      $('#button-submit-suggest').on('click', function () {
        $.ajax({
          type : 'POST',
          url : '/dashboard/data_user_app/submit_suggest_kosa_kata',
          data : $('#suggest-kosa-kata-form').serialize(),
          success : function (response) {
            // alert(response)
          }
        })
      })
      $(document).on('click', '#salin-pertanyaan', function () {
        var a = $(this).html()
        $('.chat-typing').val(a)
        $(".chat-typing").focus();
      })
    }); /*DOCUMENT READY*/
  </script>
